jupyterlab
ipykernel
ipywidgets

numpy
pandas
matplotlib
seaborn
scikit-learn
tqdm

torch
torchvision
torchaudio
tensorflow

transformers
datasets
accelerate
evaluate
sentencepiece
tokenizers

nltk
kss
konlpy
kiwipiepy
soynlp
wordcloud

langchain
langchain-community
langchain-openai
faiss-cpu
chromadb

python-dotenv
requests
beautifulsoup4
lxml

black
ruff
